/*
 * @Date: 2020-09-25 09:11:40
 * @information: home
 */
#home {
  .container {
    width: 85%;
    min-width: 1024px;
    min-height: calc(100vh - 110px);
    max-height: calc(100vh - 110px);
    margin: 0 auto;
    border: 1px solid #FB7299;
    display: flex;

    .right-container {
      flex-grow: 1;
      width: inherit;
      display: flex;
      #chat-room {
        width: inherit;
      }
      .empty-box {
        margin: 0 auto;
        padding: 25% 0;
        font-size: 24px;
        color: #ff6700;
        font-family: system-ui;
      }
    }

  }
}